.article-card {
  background: white;
  max-width: 300px;
  border-radius: 4px;
  box-shadow: $shadow-md;
  img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: 0 100%;
    border-radius: 4px 4px 0 0;
  }
  h3 {
    margin-top: 0;
    padding: 0 0.5rem;
    margin-bottom: 0;
    color: $blue-700;
  }
  h4 {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0;
    font-weight: 900;
    color: $blue-700;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding: 0.15rem 0.5rem;
  }
  p {
    padding: 0 0.5rem;
    margin-bottom: 0;
    color: $gray-700;
  }
  a,
  a:visited {
    font-weight: 900;
    color: $gray-800;
    &:hover {
      color: $blue-700;
      text-decoration: underline;
    }
  }
}

.article-card-header {
}

.card-color-bar {
  margin-bottom: 0.15rem;
  height: 10px;
  width: 100%;
}

.yellow-bg {
  background: $yellow-400;
}
.blue-bg {
  background: $blue-700;
}

.green-bg {
  background: $green-400;
}

.red-bg {
  background: $red-400;
}

.article-card header h3 {
  min-height: 80px;
}
.article-card-author {
  color: $gray-500;
  font-size: 0.8rem;
}

.article-card-excerpt {
  padding: 0 1.5rem;
  min-height: 50px;
}

.article-card-separator {
  border: 0.5px solid $gray-300;
}

.article-card.category {
  text-transform: uppercase;
  margin-bottom: 0;
}

.movie-card-price {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: right;
}

.fp-videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.movie-card {
  margin-right: 2rem;
  background: white;
  max-width: 300px;
  border-radius: 4px;
  box-shadow: $shadow-md;
  margin-bottom: 2rem;
  img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: 0 100%;
    border-radius: 4px 4px 0 0;
  }

  h2 {
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
  }
  h3 {
    margin-top: 0;
    padding: 0 0.5rem;
    margin-bottom: 0;
    color: $blue-700;
  }
  h4 {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0;
    font-weight: 900;
    color: $blue-700;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding: 0.15rem 0.5rem;
  }
  p {
    padding: 0 0.5rem;
    margin-bottom: 0;
    color: $gray-700;
  }
  a,
  a:visited {
    font-weight: 900;
    color: $gray-800;
    &:hover {
      color: $blue-700;
      text-decoration: underline;
    }
  }

  .movie-card-rating {
    margin-left: 1rem;
    display: flex;
    color: gold;
    svg {
      width: 10px;
    }

    .last-star {
      color: gray;
    }
  }
  .movie-card-details {
    display: flex;
    justify-content: space-between;
  }
  .movie-price {
    text-align: right;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 0.25rem 0.75rem;
    background: $gray-300;
    border-radius: 2px;
    margin-right: 1rem;
  }

  .movie-excerpt {
    padding: 0.25rem 0.5rem;
  }
}
