/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.header-container {
  display: flex;
}
.menu.nav-menu {
  justify-content: space-between;
  max-width: $screen-xl;
  margin: 0 auto;
  display: flex;

  & > li {
    margin-right: 1.5rem;
  }

  li:last-of-type {
    margin-right: 0;
  }
}

.main-navigation {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 0.8rem;
  a {
    text-transform: uppercase;
  }
  button {
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 4px;
    margin-left: 1rem;
    max-height: 100px;
    padding: 0rem 1.5rem;
    background: $blue-600;
    color: $gray-200;
    box-shadow: $shadow;
    border: none;
    display: block;
    &:hover {
      background: $blue-400;
    }
  }
}
